
.page{
   width: 100%;
    background-color: #E5E5E5;
}



.top{
    position: fixed;
    top: 0;
    height:80px;
    width: 100%;;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
 
}

#logo{
    width: 75px;
    height: 53px;
    margin-left: 22px;
    margin-top: 16px;

}

#logo2{
  font-size: 46px;
    margin-right: 22px;
    margin-top: 16px;

}

#logo3{
    font-size: 20px;
    padding: 5px;
}


.bottom{

    position: fixed;
    bottom: 0;
    height:80px;
    width: 100%;;
    background-color: #FFFFFF;
   
    
}
.pEnvia{
    display: flex;
    justify-content: space-between;
}

.enviandoPara{
    margin-left: 50px;
    color: grey;
    margin-top: 6px;
}





.pEnvia > ion-icon{
    font-size: 25px;
    margin-top: 27px;
    position: absolute;
    right: 18px;
}

input{
    width: 70%;
    font-size: 16px;
    
    border-style: none;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    word-wrap: break-word;
    
}

.messages{
    padding-top: 106px;
    padding-bottom: 106px;
    word-wrap: break-word;
    
}

.geral{
   
    width: 95%;
  
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px 0;
  word-wrap: break-word;
    
}

.status1{
    background-color: #DCDCDC;
    
}

.message1{
    background-color: #FFFFFF

}
.private_message1{
    background-color: #FFDEDE;
}

.geral p{
    width: 95%;
    word-wrap: break-word;
}





.container{
 
 display: flex;
 justify-content: center;
}

.esquerda{
width: 30%;
height: 100%;
background-color:rgba(88,98,0,0.6);
}

.direita{
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    padding-left: 15px;
    overflow-y: scroll;
}

.direita h2{
    
    height: 84px;
    font-size: 26px;
    margin-top: 12px;

}

.contato{
    display: flex;
    align-items: center;
}

.contatos p{
    font-size: 20px;
    

}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
   
    justify-content: center;
    align-items: center;
    
  }

  .overlayin {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
   
    justify-content: center;
    align-items: center;
    
  }

  .mostrar {
    display: block;
  }

  .escondido {
    display: none;
  }

  .mostrar {
    display: block;
  }

  .check{
      color: green;
      margin-left: 10px;
      
  }

  b{
    font-weight: bolder;
  }

  i{
    color: grey;
  }

  .login{
      background-color: #FFDEDE;
  }

  .entrar{
      display: block;
      margin: 60px auto;
      width: 120px;
      height: 40px;
    
  }

  .digitanome{
      margin: 0 10%;
  }

  #img-login{
      margin: 100px 30%;
      width: 150px;
      ma
    
  }